# Server Environment Configuration
PORT=8080
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/aiet_verse_db?retryWrites=true&w=majority
FRONTEND_URL=https://nammaalvas.org
NODE_ENV=production

# Email Settings
ADMIN_EMAIL=admissions@aiet.org.in
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
EMAIL_FROM="AIET Admissions" <admissions@aiet.org.in>

